<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p {%c} %m%n"/>
        </Console>
        <Async name="ASYNC">
            <AppenderRef ref="ROLLING"/>
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="com.julienvey" level="debug"/>
        <Logger name="com.taskadapter" level="info"/>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>